<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kejin.mytest.mapper.ActiveListMapper" >

  <resultMap id="BaseResultMap" type="com.kejin.mytest.bean.ActiveList" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="short_title" property="shortTitle" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
	id,
	title,
	content,
	short_title
  </sql>
     
  <select id="selectAll" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from serv_activelist
  </select>
  
    <select id="selectbyId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from serv_activelist
    where id = #{id}
  </select>
  
</mapper>